<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Índice - Flask</title>
</head>
<body style="padding:20px">
    <h3>Menu principal</h3>
    <table border="6px">
        <thead>
            <tr>
                <th><a href="categorias">Ver Categorias</a></th>
            </tr>
            <tr>
                <th><a href="retalhistas">Ver Retalhistas</a></th>
            </tr>
            <tr>
                <th><a href="ivm">Ver IVMs</a></th>
            </tr>
        </thead>
    </table>
</body>
</html>